.frete-container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
    width: 100%;
    padding:1rem;
    margin-top: 1rem;
    border-radius: 8px;
}

.frete-container h2 {
    font-size: 1rem;
    font-weight: bold;
}

.frete-1 input {
    width: 90%;
    border: unset;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.frete-1 input::placeholder {
    font-size: 0.8rem;
}

.botoes {
    display: flex;
    gap: 1.8rem;
}



.address h3 {
    font-size: 1rem;
    font-weight: bold;
}