.big-hero-container {
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 1rem;
    height: 60vh;
    padding: 2.5rem 10rem;
    background-color: #606c38;
  }
  
  .big-hero-img-btn > img {
    width: 60%;
    border-radius: 50%;
  }
  
  .big-hero-text {
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  
  .big-hero-text h1 {
    font-size: 3rem;
  }
  
  .big-hero-text p {
    font-size: 1.2rem;
  }
  
  .big-hero-img-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .btn-custom {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
    background-color: #bc6c25;
    border-radius: 12px;
    padding: 0.93rem 1.12rem;
    box-sizing: border-box;
    margin: 0 auto;
  }