.linkMenuPrincipal{
    gap: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkMenuPrincipal a{
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
}

a.btnSimple{
    transition: all 0.5s;
    animation: fade-in 1s ease-in;
}

a.btnSimple:hover{
    color: var(--emphasis-color);
}

.btnSimple i{
    font-size: 2rem;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--primary-green);
}

.user img {
    width: 40px;
    height: 40px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem
}

.login span {
    color: var(--white);
    font-weight: 700;
}