.headerPrincipal{
    width: 100%;
    background-color: var(--secondary-green);
    height: 7.375rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3rem;
}